<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
	<connectionStrings >
		<add name="myConnectionString" connectionString="Data Source=NAWAL\SQLEXPRESS;Initial Catalog=WEB_DB;Integrated Security=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>